@import "../config";
@import "../mixins";

.duet {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 80%;

  @include tablet-above {
    flex-direction: row;
    max-width: $safe-width;
  }
}

.photoFrame {
  width: 40%;
  height: 40%;
  overflow: hidden;
  border-radius: 100%;
  border: 0.5rem solid $primary-color-50;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 2rem;
  color: $font-color;
  transition: ease-in 500ms;
  width: 90%;

  @include mobile-above {
    align-items: flex-start;

    max-width: $safe-width;
  }

  .hello {
    font-size: 2 * $font-size-global;
    text-align: start;

    @include mobile-above {
      text-align: start;
      font-size: 3.5 * $font-size-global;
    }
    strong {
      color: $hue-color;
    }
  }

  .accolade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin: 1rem 0;

    @include mobile-above {
      flex-direction: row;
      justify-content: flex-start;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include mobile-above {
        text-align: start;
        align-items: flex-start;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    h1 {
      font-size: $font-size-global;
      color: $font-color;
    }

    h2 {
      font-size: $font-size-global;
      color: $font-color;
      opacity: 0.8;
    }
  }

  h1 {
    margin: 0.5rem 0;
    font-size: 2 * $font-size-global;
    font-family: $font-mono-stack;

    @include mobile-above {
      font-size: 3 * $font-size-global;
    }
  }

  h3 {
    font-size: 1 * $font-size-global;

    @include mobile-above {
      font-size: 2 * $font-size-global;
    }
  }

  p {
    font-size: $font-size-global;
    margin: 0.5rem 0;
  }
}
