@import "../config";
@import "../mixins";
.container {
  //max-width: $safe-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 2rem;
  color: $font-color;
  transition: ease-in 500ms;
  width: 100%;

  .hello {
    font-size: 3.5 * $font-size-global;
    strong {
      color: $hue-color;
    }
  }

  @include mobile-above {
    align-items: flex-start;
    padding: 4rem;
  }

  .accolade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin: 1rem 0;

    @include mobile-above {
      flex-direction: row;
      justify-content: flex-start;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: center;

      @include mobile-above {
        text-align: start;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    h1 {
      font-size: $font-size-global;
      color: $font-color;
    }

    h2 {
      color: $font-color;
      opacity: 0.8;
    }
  }

  h1 {
    margin: 0.5rem 0;
    font-size: 2 * $font-size-global;
    font-family: $font-mono-stack;

    @include mobile-above {
      font-size: 3 * $font-size-global;
    }
  }

  p {
    font-size: $font-size-global;
    margin: 0.5rem 0;
  }
}
