@import "../config";
@import "../mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $primary-color;
  padding: 1rem 0;

  width: 100%;
  color: $font-color;

  @include mobile-above {
    padding: 2rem 4rem;
    border-radius: 2rem;
    width: 75%;
  }

  @include tablet-above {
    width: 50%;
  }

  .heading {
    overflow: hidden;
    font-size: 1.5 * $font-size-global;
    @include tablet-above {
      font-size: 2 * $font-size-global;
    }
  }

  .content {
    padding-top: 1rem;
    font-size: 1.2 * $font-size-global;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

    .contentChild {
      padding: 1rem;
      font-size: 1 * $font-size-global;
    }

    .link {
      background-color: rgba($color: #000000, $alpha: 0.1);
      border-radius: 1rem;
      color: $font-color;
      padding: 0.5rem;
      font-size: 1.5 * $font-size-global;
      font-family: $font-mono-stack;
      transition-timing-function: ease-in-out;
      transition-duration: 500ms;
    }

    .link:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }
}

.divider {
  margin-top: 1rem;
  height: 2px;
  width: 75%;
  border-radius: 20%;
  background-color: $primary-light-color;
}

.contactList {
  row-gap: 2rem;

  .listItem {
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0.5rem 1rem;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    border-radius: 1rem;

    &:hover {
      background-color: $primary-light-color-50;
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0.5rem;
    }
  }

  .listIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    background-color: $font-color;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  .listText {
    font-family: $font-stack;
    color: $font-color;
    font-size: large;
  }
}
