@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

$desktop_width: 1024px;
$tablet_width: 768px;
$mobile_width: 640px;

// $media_queries : (
//     'mobile'    : only screen and (max-width: $phone_width),
//     'tablet'    : only screen and (min-width: $phone_width) and (max-width: $desktop_width),
//     'desktop'   : only screen and (min-width: ($desktop_width + 1)),
//     'retina2'   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
//     'retina3'   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
//     'landscape' : "screen and (orientation:landscape) ",
//     'portrait'  : "screen and (orientation:portrait) "
// );

// BW Palette
$primary-color: #1a1a1a;
$secondary-color: #212529;
$hue-color: #ff7f11;
$primary-light-color: rgba(73, 80, 87, 1);
$primary-light-color-50: rgba(73, 80, 87, 0.5);
$home-gradient: linear-gradient(
  360deg,
  rgba(73, 80, 87, 1) 0%,
  rgba(52, 58, 64, 1) 100%
);

$header-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 60%,
  rgba(73, 80, 87, 1) 80%
);

$main-bg: #212529;

$light-bg-color: rgb(248, 249, 250, 0.3);

//Colors
// $primary-color : #1f5673;
// $secondary-color : #ff7f11;
// $primary-light-color : rgba(49,139,187,1);
// $primary-light-color-50 : rgba(49,139,187,0.5);
// $home-gradient : linear-gradient(360deg, rgba(49,139,187,1) 25%, rgba(31,86,115,1) 100%);

//Fonts
$font-stack: "Work Sans", sans-serif;
$font-heading-stack: "Staatliches", cursive;
$font-color: white;
$font-mono-stack: "Oxygen Mono", monospace;

$font-map: (
  1: $font-stack,
  2: $font-heading-stack,
  3: $font-mono-stack,
);
// map-get($map: $font-map, $key: random($limit: 3))

//Constants
$safe-width: 75%;

$font-size-global: 1vw; //default
// @if(max-width: $mobile_width) {
//     $font-size-global : 10vw;
// }

// @if (max-width: $mobile_width) {
//     $font-size-global : 0.5rem;
// }
// @if (min-width: $mobile_width) and (max-width: $desktop_width) {
//     $font-size-global : 0.8rem;
// }
// @if (min-width : $desktop_width) {
//     $font-size-global : 1.0rem;
//     $font-color : red
// }
