@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$primary-color : #1f5673;
$secondary-color : #ff7f11;
$primary-light-color : rgba(49,139,187,1);
$font-stack : 'Work Sans', sans-serif;
$font-color : white;

$safe-width : 75%;

$home-gradient : linear-gradient(360deg, rgba(49,139,187,1) 25%, rgba(31,86,115,1) 100%);