@import 'config';
@import 'mixins';

.topSection {
    padding: 1rem;
}

.title {
    color: $font-color;
    font-family: $font-heading-stack;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    font-size: 4rem;
}

.stack {
    color: $font-color;
    font-size: 2rem;
}

.imageContent {
    width: $safe-width;
    border-radius: 2rem;
    overflow: hidden;
               
}

.imageContentWide {
    @extend .imageContent;
    position: relative;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: fit-content;
    height: fit-content;

}

.detailsBody {
    width: $safe-width;
    height: max-content;
    padding: 2rem;
    color: $font-color;
    justify-content: space-between;
    align-content: space-between;
    h1 {
        color: $font-color;
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid $font-color;
        width: fit-content;
        transition: ease-in-out 300ms
    }

    h1:hover {
        transform: scale(1.1);
    }

    p {
        color: $font-color;
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    a {
        color: $primary-light-color;
        padding: 1rem;
        transition: ease-in-out 300ms;
        border-radius: 1rem;
    }
    a:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
        color: $font-color;
    }
}