@import 'config';
@import 'mixins';


.grid {
    

    @include designGrid();
    display: flex;
    flex-direction: column;

    .tile {
        margin: 1rem;
        color: $font-color;
        font-family: $font-stack;
        border-radius: 1rem;
        overflow: hidden;
        max-width: 30rem;
        .tileImage {
            border-radius: 1rem;
        }

        .tileInfo {
            position: absolute;
            z-index: 2;
            padding: 1rem;
            text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
            
        }
    }
}