@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import 'config';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;

}

html,body {
    min-height: 100%;
}

body {
    background-color: $primary-color;
}

