@import "config";
@import "mixins";

.welcomeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: auto;
  position: absolute;
  color: $font-color;
  font-family: $font-mono-stack;
  font-size: 2 * $font-size-global;

  @include laptop-above {
    font-size: 4 * $font-size-global;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;

  background-color: transparent;
  color: $secondary-color;
  background: $home-gradient;
  position: relative;
  z-index: 10;
  overflow: hidden;

  max-height: calc(100vh - $nav-height);

  @include tablet-above {
    padding: 0rem 0;
  }

  .headerItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .loopingTitles {
      color: $font-color;
      font-size: 2 * $font-size-global;

      @include mobile-above {
        font-size: 3 * $font-size-global;
      }

      @include desktop-above {
        font-size: 5 * $font-size-global;
      }

      h1 {
        font-family: $font-mono-stack;
      }
    }

    .headerImage {
      border-radius: 0;
      overflow: hidden;
      max-height: 1080px;
      max-width: 1920px;

      background-image: $header-gradient;

      transition: ease-in-out 300ms;

      @include tablet-above {
        border-radius: 1rem;
      }

      // opacity: 75%;

      //background-color: $secondary-color;
    }

    .headerTitle {
      position: absolute;
      color: $font-color;
      font-family: $font-stack;
      font-size: x-large;
      text-align: center;
      stroke: white;
      stroke-width: 2px;
    }

    .headerText {
      padding: 1rem;
      color: $font-color;
      font-family: $font-stack;
      font-size: 1.5 * $font-size-global;
      text-align: center;

      p {
        padding: 1rem;
      }

      strong {
        color: $hue-color;
        font-size: 1.8 * $font-size-global;
      }

      .subHeading {
        font-family: $font-heading-stack;
        letter-spacing: 0.5rem;
      }

      .subText {
        font-size: 1.2 * $font-size-global;
      }
    }
  }
}
