@import "config";
@import "mixins";

.welcomeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: auto;
  position: absolute;

  overflow: hidden;
  color: $font-color;
  font-family: $font-mono-stack;
  font-size: 2 * $font-size-global;

  @include laptop-above {
    font-size: 4 * $font-size-global;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: transparent;
  color: $secondary-color;

  position: relative;
  z-index: 10;
  overflow: hidden;

  max-height: calc(100vh - $nav-height);

  @include tablet-above {
    padding: 0rem 0;
  }

  .headerItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .sliderHandle {
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color: $font-color;
      transition: left ease 150ms;
      z-index: 3;
      border-radius: 100%;
    }

    .onion {
      display: grid;
      place-items: center;

      overflow: hidden;
      position: absolute;
      left: 0;

      width: 100%;
      height: 100vh;

      transition: width ease 150ms;

      &:nth-child(1) {
        background-color: $primary-color;
        z-index: 2;

        span {
          color: $hue-secondary-color;
        }
      }

      &:nth-child(2) {
        background-color: rgba($color: $hue-secondary-color, $alpha: 0.5);

        h1 {
          color: $primary-color;
        }
        span {
          color: $hue-color;
        }
      }

      h1 {
        color: $font-color;
        font-size: 3 * $font-size-global;
        font-family: $font-strong-stack;

        width: 80vw;
        left: 15vw;
        position: absolute;

        @include tablet-above {
          font-size: 6 * $font-size-global;
          left: 20vw;
        }
        span {
          font-family: $font-heading-stack;
          letter-spacing: 0.5rem;
          font-weight: 800;

          @include mobile-above {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
