@import "config";
@import "mixins";

.welcomeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: auto;
  position: absolute;
  color: $font-color;
  font-family: $font-mono-stack;
  font-size: 2 * $font-size-global;

  @include laptop-above {
    font-size: 4 * $font-size-global;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;

  background-color: transparent;
  color: $secondary-color;
  background: $home-gradient;
  position: relative;
  z-index: 10;
  overflow: hidden;

  max-height: calc(100vh - $nav-height);

  @include tablet-above {
    padding: 0rem 0;
  }

  .headerItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .loopingTitles {
      color: $font-color;
      font-size: 1 * $font-size-global;

      @include mobile-above {
        font-size: 2 * $font-size-global;
      }

      @include desktop-above {
        font-size: 4 * $font-size-global;
      }

      h1 {
        font-family: $font-mono-stack;
        text-shadow: 8px 8px 0px rgba($color: #000000, $alpha: 0.5);
      }
    }

    .headerImage {
      display: flex;
      flex-direction: row;

      border-radius: 0;
      overflow: hidden;
      max-height: 1080px;
      max-width: 1920px;

      transition: ease-in-out 300ms;

      transform: scale(120%);

      @include tablet-above {
        border-radius: 1rem;
      }

      .clip {
        flex: 1 1 0;
        z-index: 1;
        transition: all ease 500ms;

        filter: grayscale(100%) blur(0.2rem);
      }

      .clip:hover {
        //z-index: 2;
        transform: scale(110%);
        filter: grayscale(0%);
      }

      .clip:nth-child(1) {
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        right: -10%;
      }

      .clip:nth-child(2) {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }

      .clip:nth-child(3) {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        left: -10%;
      }
    }

    .headerTitle {
      position: absolute;
      color: $font-color;
      font-family: $font-stack;
      font-size: $font-size-global;
      text-align: center;
      stroke: white;
      stroke-width: 2px;
    }

    .headerText {
      padding: 1rem;
      color: $font-color;
      font-family: $font-stack;
      font-size: 1.5 * $font-size-global;
      text-align: center;

      p {
        padding: 1rem;
      }

      strong {
        color: $hue-color;
        font-size: 1.8 * $font-size-global;
      }

      .subHeading {
        font-family: $font-heading-stack;
        letter-spacing: 0.5rem;
      }

      .subText {
        font-size: 1.2 * $font-size-global;
      }
    }
  }
}
