@import "config";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: relative;
  row-gap: 8rem;
  margin: 4rem 0;
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $home-gradient;

  .mobile-text {
    padding: 1rem;
    color: $font-color;
    font-family: $font-stack;
    font-size: 4 * $font-size-global;
    text-align: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
  background-color: $secondary-color;
  background-image: linear-gradient(
    rgba(127, 127, 127, 0.1),
    rgba(127, 127, 127, 0.2)
  );
  // background-image: linear-gradient(180deg, rgba(49,139,187,1) 0%, rgba(49,139,187,0) 25%);
  // background-blend-mode: screen;
  background-repeat: repeat;
  background-position: center;
}
