@import "config";
@import "mixins";

.stickyContainer {
  z-index: 100;
  position: sticky;
  top: 0;
}

.navMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $primary-light-color;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  background-color: transparent;
  color: $font-color;
  padding: 1rem;

  .navLogo {
    font-size: 2rem;
    padding: 0rem 0.5rem;
    font-family: $font-heading-stack;
    letter-spacing: 0.4rem;
  }

  .navLinks {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    @include laptop-above {
      display: flex;
    }

    .navLink {
      color: $font-color;
      padding: 0.5rem;
      margin: 1rem;
      transition: ease-in-out 200ms;
      background: none;
      border: none;
    }

    .navLink:hover {
      // padding: 0.5rem;
      border-bottom: 2px solid $hue-color;
      color: $hue-color;
      // border: 3px solid $secondary-color;
    }
  }

  .sidebarToggle {
    background-color: $light-bg-color;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;

    @include laptop-above {
      display: none;
    }

    .toggleIcon {
      color: $font-color;
      font-size: 1.2rem;
    }
  }
}

.progressBar {
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform-origin: 0%;
}
