@import "config";
@import "mixins";

.tile {
  margin: 1rem;
  color: $font-color;
  font-family: $font-stack;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 30rem;
  background-color: $primary-color;

  .tileImage {
    border-radius: 1rem;
  }

  .tileInfo {
    display: none;
    position: absolute;
    z-index: 2;
    padding: 1rem;

    @include mobile-above {
      display: block;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem 0;
  transition: all 300ms ease-in-out;

  @include desktop-above {
    flex-direction: row;
    padding: 0;
    width: $safe-width;
  }

  .markdown {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-color;
    text-align: center;

    @include mobile-above {
      width: 50%;
      text-align: start;
      align-items: flex-start;
    }

    p {
      width: 100%;
      text-align: center;

      @include mobile-above {
        text-align: start;
      }
    }

    a {
      color: $font-color;
      text-decoration: underline;
    }
  }
}

.card:hover {
  background-color: $light-bg-color;
}
