@import "config";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  writing-mode: vertical-lr;

  top: 0;
  left: 0;
  position: absolute;
}

.sectionHeading {
  font-family: $font-heading-stack;
  font-size: 4 * $font-size-global;
  color: $font-color;
  letter-spacing: 0.8rem;
  text-align: center;
  transition: ease-in-out 200ms;
  transform: rotate(180deg);
}

.divider {
  margin: 0 0.5rem;
  opacity: 50%;
  border-radius: 1rem;
  background-color: $font-color;
  margin: 0.5rem;

  height: 0.2rem;
  width: 5rem;

  // Mobile
  // height: 5rem;
  // width: 0.2rem;
}
