@import "config";
@import "mixins";

.container {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  flex-direction: column-reverse;
  position: relative;
  writing-mode: horizontal-tb;

  height: 100%;

  @include laptop-above {
    flex-direction: row;
    writing-mode: vertical-lr;

    top: 10%;
    left: 0;
    position: absolute;
  }
}

.sectionHeading {
  font-family: $font-heading-stack;
  font-size: 4 * $font-size-global;
  color: $font-color;
  letter-spacing: 0.8rem;
  text-align: center;
  transition: ease-in-out 200ms;

  @include laptop-above {
    transform: rotate(180deg);
    // position: sticky;
    // top: $nav-height;
  }
}

.divider {
  margin: 0 0.5rem;
  opacity: 50%;
  border-radius: 1rem;
  background-color: $font-color;
  margin: 0.5rem;

  height: 0.2rem;
  width: 100%;

  @include laptop-above {
    width: 5rem;
  }

  // Mobile
  // height: 5rem;
  // width: 0.2rem;
}
